 
.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.page-header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    font-family: var(--secondary-font-family);
    @include font(700, 26px, 1.2);
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-dark);
}

.logo__accent {
    color: var(--accent-color);
}

.logo-footer__link {
    @include font(700, 26px, 1.2);
    font-family: var(--secondary-font-family);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

@media screen and (max-width: 767px){


    .mobile-menu__open-button {
            background-color: transparent;
            border: none;
            padding: 0;
            margin-top: 5px;
            cursor: pointer;

            &:hover,
            &:focus {
                fill: #2196F3;
            }
    
        }

    .menu {
            display: none;
        }

    .contacts {
            display: none;
        }
}
    

@media screen and (min-width: 768px) {

    .mobile-menu__open-button {
        display: none;
    }
    .menu {
            display: flex;
        }
    .contacts {
            display: block;
        }
    .navigation {
            display: flex;
            align-items: center;
        }
    
    .logo {
            margin-right: 88px;
        }
    .menu__link {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.1;
            letter-spacing: 0.02em;
            color: var(--primary-text-color-theme-dark);
            transition: color 250ms var(--timing-function);
            position: relative;
    
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }
    
    .menu-list__item:not(:last-child) {
            margin-right: 50px;
        }
    
    .current {
            color: var(--accent-color);
        }
    
    .current::after {
            display: block;
            position: absolute;
            content: '';
            width: 100%;
            height: 4px;
            border-radius: 2px;
            left: 0;
            bottom: -37px;
            color: var(--accent-color);
            background: var(--accent-color);
        }

    .phone-number__list {
        margin-top: 10px
    }
    .mail__link {
                    @include font(500, 14px, 1.1);
                    letter-spacing: 0.02em;
                    color: var(--primary-text-color-theme-light);
                    display: flex;
                    align-items: center;
                    transition: color 250ms var(--timing-function);
                    /*margin-bottom: 10px;*/
        
                    &:hover,
                    &:focus {
                        color: var(--accent-color);
                    }
                }
        
    .phone-number__link {
                    @include font(500, 14px, 1.1);
                    letter-spacing: 0.02em;
                    color: var(--primary-text-color-theme-light);
                    display: flex;
                    align-items: center;
                    transition: color 250ms var(--timing-function);
        
                    &:hover,
                    &:focus {
                        color: var(--accent-color);
                    }
                }
        
    .contact__icon {
                    margin-right: 8px;
                    fill: var(--primary-text-color-theme-light);
                    transition: fill 250ms var(--timing-function);
        
                    .phone-number__link:hover &,
                    .phone-number__link:focus & {
                        fill: var(--accent-color);
                    }
        
                    .mail__link:hover &,
                    .mail__link:focus & {
                        fill: var(--accent-color);
                    }
                }
}

@media screen and (min-width: 1200px) {
    
        .page-header__container {
            display: flex;
            align-items: center;
        }
        .logo {
            margin-right: 93px;
        }

        .current::after {
            bottom: -32px;
        }
    
        .contacts {
            display: flex;
            margin-left: auto;
        }
        
        .phone-number__list {
            margin-top: 0;
            margin-left: 50px;
        }
        .contact__icon {
            margin-right: 10px;
        }
}
