.masters {
    display: flex;
}

.masters__item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}


.card__master{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.master__title {
    @include font(500, 16px, 1);
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 10px;
}

.master__desc {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
    margin-bottom: 16px;
}

.social-media__list {
    display: flex;
    justify-content: center;
}

.social-media__item:not(:last-child) {
    margin-right: 10px;
}

.social-media__link {
    @extend %ideal-centr;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-section-color-theme-light);
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}



.social-media__icon {
    fill: var(--aicon-background-color);
    transition: fill 250ms var(--timing-function);

    .social-media__link:hover &,
    .social-media__link:focus & {
        fill: #FFFFFF;
    }
}

