.preview {

    display: block;
}

.preview__item:not(:last-child) {
    margin-bottom: 30px;
}
.preview__subtitle {

    text-align: center;
    @include font(700, 14px, 1.14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 10px;
}

.preview__text {

    @include font (400, 14px, 1.71);
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
        
}

.preview-icon__container {

    width: 100%;
    height: 120px;
    background-color: var(--background-container-color);
    margin-bottom: 30px;
    @extend %ideal-centr;
}

.preview__icon {
    width: 66px;
    height: 70px;
}

@media screen and (min-width: 768px) {


    .preview {
        gap: 30px;
            display: flex;
            flex-wrap: wrap;

        }
               /*.preview__item {
                flex-basis: 354px;
                   
               }*/

    .preview__item {
        width: 100%;
        flex-basis: calc((100% - 30px) /2);
    }

.preview__item:nth-last-child(-n+4){
    margin-bottom: 0;
}
    .preview__item:nth-last-child(-n+4) {
            margin-right: 0px;
        }

    .preview__subtitle {
        text-align: left;
    }
}


@media screen and (min-width: 1200px) {

    .preview__item {
        flex-basis: calc((100% - 90px) /4);
        
    }

    .preview {    
        flex-wrap: nowrap
    }

    /*.preview__item:nth-last-child(-n+4) {
        margin-bottom: 0;
    }

    .preview__item:not(:last-child) {
        margin-right: 30px;
    }*/
    
    .preview-icon__container {
        width: 270px;
        height: 120px;
    }
    
    .preview__icon {
        width: 70px;
        height: 70px;
    }
}

