/*.social-media-footer__container {
    margin-left: 70px;
}

.social-media__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.social-media__footer {
    display: flex;
}

.social-media-footer__item:not(:last-child) {
    margin-right: 10px;
}

.social-media-footer__link {
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    @extend %ideal-centr;
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: #2196F3;
    }
}



.social-media-footer__icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}*/
