.hero {
    background-color: var(--primary-section-color-theme-dark);
}

.preview {
    background-color: var(--primary-section-color-theme-light);
}

.team-masters__section {
    background-color: var(--secondary-section-color-theme-light);
}

.masters__item {
    background-color: var(--primary-section-color-theme-light);
}

.footer {
    background-color: var(--primary-section-color-theme-dark);
}