:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-section-color-theme-light: #FFFFFF;
    --secondary-section-color-theme-light: #F5F4FA;
    --primary-section-color-theme-dark: #2F303A;
    --primary-text-color-theme-dark: #212121;
    --primary-text-color-theme-light: #757575;
    --accent-color: #2196F3;
    --aicon-background-color: #AFB1B8;
    --background-container-color: #F5F4FA;
    --border-color: #EEEEEE;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}